<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'AUTH.REGISTER.TITLE' | translate }}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>
		<form class="kt-login__form kt-form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-select placeholder="Accout Type" name="accountType" formControlName="accountType" (selectionChange)="onAccountChange($event)" [(value)]="selected">
							<mat-option value="Individual Account">Individual Account</mat-option>
							<mat-option value="Joint Account">Joint Account</mat-option>
							<mat-option value="Corporate Account">Corporate Account</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0 &&  accountTypeFlag == 3">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-label>Name of Company</mat-label>
						<input matInput type="text" placeholder="Name of Company" name="nameCompany" formControlName="nameCompany"/>
						<mat-error *ngIf="isControlHasError('nameCompany','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0 && accountTypeFlag == 3">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-label>Company Director</mat-label>
						<input matInput type="text" placeholder="Company Director" name="companyDirector" formControlName="companyDirector"/>
						<mat-error *ngIf="isControlHasError('companyDirector','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0 &&  accountTypeFlag == 3">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-label>Nature of Business</mat-label>
						<input matInput type="text" placeholder="Nature of Business" name="natureBusiness" formControlName="natureBusiness"/>
						<mat-error *ngIf="isControlHasError('natureBusiness','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>First Name</mat-label>
						<input matInput type="text" placeholder="First Name" formControlName="firstName"/>
						<mat-error *ngIf="isControlHasError('firstName','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('firstName','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('firstName','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>Last Name</mat-label>
						<input matInput type="text" placeholder="Last Name" formControlName="lastName"/>
						<mat-error *ngIf="isControlHasError('lastName','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('lastName','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('lastName','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0 && accountTypeFlag == 2">
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>Joint First Name</mat-label>
						<input matInput type="text" placeholder="Joint First Name" name="firstNameTwo" formControlName="firstNameTwo"/>
						<mat-error *ngIf="isControlHasError('firstNameTwo','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>Joint Last Name</mat-label>
						<input matInput type="text" placeholder="Joint Last Name" name="lastNameTwo"  formControlName="lastNameTwo"/>
						<mat-error *ngIf="isControlHasError('lastNameTwo','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-12">
						<mat-form-field>
						<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
						<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="emailAddress" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('emailAddress','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('emailAddress','email')">
							<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('emailAddress','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
						</mat-error>
					</mat-form-field>	
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-label>Phone Number</mat-label>
						<input matInput type="text" placeholder="Phone Number" formControlName="phoneNumber"/>
						<mat-error *ngIf="isControlHasError('phoneNumber','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('phoneNumber','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('phoneNumber','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
					</mat-form-field>	
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
						<input matInput type="password" placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}" formControlName="hash" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('hash','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('hash','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('hash','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
						<input matInput type="password" placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}" formControlName="confirmPassword" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('confirmPassword','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
						<mat-error *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
							<strong>Passsword and ConfirmPassword didn't match.</strong>
						</mat-error>
					</mat-form-field>	
				</div>
				
			</div>
			<div class="form-group row" *ngIf="stepFlag == 0">
				<div class="col-lg-6">
					<mat-form-field>
						<mat-select placeholder="Country of Citizenship" name="countryCitizenship" formControlName="countryCitizenship">
							<mat-option value="">Select</mat-option>
							<mat-option value="AF">Afghanistan</mat-option>
							<mat-option value="AX">Åland Islands</mat-option>
							<mat-option value="AL">Albania</mat-option>
							<mat-option value="DZ">Algeria</mat-option>
							<mat-option value="AS">American Samoa</mat-option>
							<mat-option value="AD">Andorra</mat-option>
							<mat-option value="AO">Angola</mat-option>
							<mat-option value="AI">Anguilla</mat-option>
							<mat-option value="AQ">Antarctica</mat-option>
							<mat-option value="AG">Antigua and Barbuda</mat-option>
							<mat-option value="AR">Argentina</mat-option>
							<mat-option value="AM">Armenia</mat-option>
							<mat-option value="AW">Aruba</mat-option>
							<mat-option value="AU" selected>Australia</mat-option>
							<mat-option value="AT">Austria</mat-option>
							<mat-option value="AZ">Azerbaijan</mat-option>
							<mat-option value="BS">Bahamas</mat-option>
							<mat-option value="BH">Bahrain</mat-option>
							<mat-option value="BD">Bangladesh</mat-option>
							<mat-option value="BB">Barbados</mat-option>
							<mat-option value="BY">Belarus</mat-option>
							<mat-option value="BE">Belgium</mat-option>
							<mat-option value="BZ">Belize</mat-option>
							<mat-option value="BJ">Benin</mat-option>
							<mat-option value="BM">Bermuda</mat-option>
							<mat-option value="BT">Bhutan</mat-option>
							<mat-option value="BO">Bolivia, Plurinational State of</mat-option>
							<mat-option value="BQ">Bonaire, Sint Eustatius and Saba</mat-option>
							<mat-option value="BA">Bosnia and Herzegovina</mat-option>
							<mat-option value="BW">Botswana</mat-option>
							<mat-option value="BV">Bouvet Island</mat-option>
							<mat-option value="BR">Brazil</mat-option>
							<mat-option value="IO">British Indian Ocean Territory</mat-option>
							<mat-option value="BN">Brunei Darussalam</mat-option>
							<mat-option value="BG">Bulgaria</mat-option>
							<mat-option value="BF">Burkina Faso</mat-option>
							<mat-option value="BI">Burundi</mat-option>
							<mat-option value="KH">Cambodia</mat-option>
							<mat-option value="CM">Cameroon</mat-option>
							<mat-option value="CA">Canada</mat-option>
							<mat-option value="CV">Cape Verde</mat-option>
							<mat-option value="KY">Cayman Islands</mat-option>
							<mat-option value="CF">Central African Republic</mat-option>
							<mat-option value="TD">Chad</mat-option>
							<mat-option value="CL">Chile</mat-option>
							<mat-option value="CN">China</mat-option>
							<mat-option value="CX">Christmas Island</mat-option>
							<mat-option value="CC">Cocos (Keeling) Islands</mat-option>
							<mat-option value="CO">Colombia</mat-option>
							<mat-option value="KM">Comoros</mat-option>
							<mat-option value="CG">Congo</mat-option>
							<mat-option value="CD">Congo, the Democratic Republic of the</mat-option>
							<mat-option value="CK">Cook Islands</mat-option>
							<mat-option value="CR">Costa Rica</mat-option>
							<mat-option value="CI">Côte d'Ivoire</mat-option>
							<mat-option value="HR">Croatia</mat-option>
							<mat-option value="CU">Cuba</mat-option>
							<mat-option value="CW">Curaçao</mat-option>
							<mat-option value="CY">Cyprus</mat-option>
							<mat-option value="CZ">Czech Republic</mat-option>
							<mat-option value="DK">Denmark</mat-option>
							<mat-option value="DJ">Djibouti</mat-option>
							<mat-option value="DM">Dominica</mat-option>
							<mat-option value="DO">Dominican Republic</mat-option>
							<mat-option value="EC">Ecuador</mat-option>
							<mat-option value="EG">Egypt</mat-option>
							<mat-option value="SV">El Salvador</mat-option>
							<mat-option value="GQ">Equatorial Guinea</mat-option>
							<mat-option value="ER">Eritrea</mat-option>
							<mat-option value="EE">Estonia</mat-option>
							<mat-option value="ET">Ethiopia</mat-option>
							<mat-option value="FK">Falkland Islands (Malvinas)</mat-option>
							<mat-option value="FO">Faroe Islands</mat-option>
							<mat-option value="FJ">Fiji</mat-option>
							<mat-option value="FI">Finland</mat-option>
							<mat-option value="FR">France</mat-option>
							<mat-option value="GF">French Guiana</mat-option>
							<mat-option value="PF">French Polynesia</mat-option>
							<mat-option value="TF">French Southern Territories</mat-option>
							<mat-option value="GA">Gabon</mat-option>
							<mat-option value="GM">Gambia</mat-option>
							<mat-option value="GE">Georgia</mat-option>
							<mat-option value="DE">Germany</mat-option>
							<mat-option value="GH">Ghana</mat-option>
							<mat-option value="GI">Gibraltar</mat-option>
							<mat-option value="GR">Greece</mat-option>
							<mat-option value="GL">Greenland</mat-option>
							<mat-option value="GD">Grenada</mat-option>
							<mat-option value="GP">Guadeloupe</mat-option>
							<mat-option value="GU">Guam</mat-option>
							<mat-option value="GT">Guatemala</mat-option>
							<mat-option value="GG">Guernsey</mat-option>
							<mat-option value="GN">Guinea</mat-option>
							<mat-option value="GW">Guinea-Bissau</mat-option>
							<mat-option value="GY">Guyana</mat-option>
							<mat-option value="HT">Haiti</mat-option>
							<mat-option value="HM">Heard Island and McDonald Islands</mat-option>
							<mat-option value="VA">Holy See (Vatican City State)</mat-option>
							<mat-option value="HN">Honduras</mat-option>
							<mat-option value="HK">Hong Kong</mat-option>
							<mat-option value="HU">Hungary</mat-option>
							<mat-option value="IS">Iceland</mat-option>
							<mat-option value="IN">India</mat-option>
							<mat-option value="ID">Indonesia</mat-option>
							<mat-option value="IR">Iran, Islamic Republic of</mat-option>
							<mat-option value="IQ">Iraq</mat-option>
							<mat-option value="IE">Ireland</mat-option>
							<mat-option value="IM">Isle of Man</mat-option>
							<mat-option value="IL">Israel</mat-option>
							<mat-option value="IT">Italy</mat-option>
							<mat-option value="JM">Jamaica</mat-option>
							<mat-option value="JP">Japan</mat-option>
							<mat-option value="JE">Jersey</mat-option>
							<mat-option value="JO">Jordan</mat-option>
							<mat-option value="KZ">Kazakhstan</mat-option>
							<mat-option value="KE">Kenya</mat-option>
							<mat-option value="KI">Kiribati</mat-option>
							<mat-option value="KP">Korea, Democratic People's Republic of</mat-option>
							<mat-option value="KR">Korea, Republic of</mat-option>
							<mat-option value="KW">Kuwait</mat-option>
							<mat-option value="KG">Kyrgyzstan</mat-option>
							<mat-option value="LA">Lao People's Democratic Republic</mat-option>
							<mat-option value="LV">Latvia</mat-option>
							<mat-option value="LB">Lebanon</mat-option>
							<mat-option value="LS">Lesotho</mat-option>
							<mat-option value="LR">Liberia</mat-option>
							<mat-option value="LY">Libya</mat-option>
							<mat-option value="LI">Liechtenstein</mat-option>
							<mat-option value="LT">Lithuania</mat-option>
							<mat-option value="LU">Luxembourg</mat-option>
							<mat-option value="MO">Macao</mat-option>
							<mat-option value="MK">Macedonia, the former Yugoslav Republic of</mat-option>
							<mat-option value="MG">Madagascar</mat-option>
							<mat-option value="MW">Malawi</mat-option>
							<mat-option value="MY">Malaysia</mat-option>
							<mat-option value="MV">Maldives</mat-option>
							<mat-option value="ML">Mali</mat-option>
							<mat-option value="MT">Malta</mat-option>
							<mat-option value="MH">Marshall Islands</mat-option>
							<mat-option value="MQ">Martinique</mat-option>
							<mat-option value="MR">Mauritania</mat-option>
							<mat-option value="MU">Mauritius</mat-option>
							<mat-option value="YT">Mayotte</mat-option>
							<mat-option value="MX">Mexico</mat-option>
							<mat-option value="FM">Micronesia, Federated States of</mat-option>
							<mat-option value="MD">Moldova, Republic of</mat-option>
							<mat-option value="MC">Monaco</mat-option>
							<mat-option value="MN">Mongolia</mat-option>
							<mat-option value="ME">Montenegro</mat-option>
							<mat-option value="MS">Montserrat</mat-option>
							<mat-option value="MA">Morocco</mat-option>
							<mat-option value="MZ">Mozambique</mat-option>
							<mat-option value="MM">Myanmar</mat-option>
							<mat-option value="NA">Namibia</mat-option>
							<mat-option value="NR">Nauru</mat-option>
							<mat-option value="NP">Nepal</mat-option>
							<mat-option value="NL">Netherlands</mat-option>
							<mat-option value="NC">New Caledonia</mat-option>
							<mat-option value="NZ">New Zealand</mat-option>
							<mat-option value="NI">Nicaragua</mat-option>
							<mat-option value="NE">Niger</mat-option>
							<mat-option value="NG">Nigeria</mat-option>
							<mat-option value="NU">Niue</mat-option>
							<mat-option value="NF">Norfolk Island</mat-option>
							<mat-option value="MP">Northern Mariana Islands</mat-option>
							<mat-option value="NO">Norway</mat-option>
							<mat-option value="OM">Oman</mat-option>
							<mat-option value="PK">Pakistan</mat-option>
							<mat-option value="PW">Palau</mat-option>
							<mat-option value="PS">Palestinian Territory, Occupied</mat-option>
							<mat-option value="PA">Panama</mat-option>
							<mat-option value="PG">Papua New Guinea</mat-option>
							<mat-option value="PY">Paraguay</mat-option>
							<mat-option value="PE">Peru</mat-option>
							<mat-option value="PH">Philippines</mat-option>
							<mat-option value="PN">Pitcairn</mat-option>
							<mat-option value="PL">Poland</mat-option>
							<mat-option value="PT">Portugal</mat-option>
							<mat-option value="PR">Puerto Rico</mat-option>
							<mat-option value="QA">Qatar</mat-option>
							<mat-option value="RE">Réunion</mat-option>
							<mat-option value="RO">Romania</mat-option>
							<mat-option value="RU">Russian Federation</mat-option>
							<mat-option value="RW">Rwanda</mat-option>
							<mat-option value="BL">Saint Barthélemy</mat-option>
							<mat-option value="SH">Saint Helena, Ascension and Tristan da Cunha</mat-option>
							<mat-option value="KN">Saint Kitts and Nevis</mat-option>
							<mat-option value="LC">Saint Lucia</mat-option>
							<mat-option value="MF">Saint Martin (French part)</mat-option>
							<mat-option value="PM">Saint Pierre and Miquelon</mat-option>
							<mat-option value="VC">Saint Vincent and the Grenadines</mat-option>
							<mat-option value="WS">Samoa</mat-option>
							<mat-option value="SM">San Marino</mat-option>
							<mat-option value="ST">Sao Tome and Principe</mat-option>
							<mat-option value="SA">Saudi Arabia</mat-option>
							<mat-option value="SN">Senegal</mat-option>
							<mat-option value="RS">Serbia</mat-option>
							<mat-option value="SC">Seychelles</mat-option>
							<mat-option value="SL">Sierra Leone</mat-option>
							<mat-option value="SG">Singapore</mat-option>
							<mat-option value="SX">Sint Maarten (Dutch part)</mat-option>
							<mat-option value="SK">Slovakia</mat-option>
							<mat-option value="SI">Slovenia</mat-option>
							<mat-option value="SB">Solomon Islands</mat-option>
							<mat-option value="SO">Somalia</mat-option>
							<mat-option value="ZA">South Africa</mat-option>
							<mat-option value="GS">South Georgia and the South Sandwich Islands</mat-option>
							<mat-option value="SS">South Sudan</mat-option>
							<mat-option value="ES">Spain</mat-option>
							<mat-option value="LK">Sri Lanka</mat-option>
							<mat-option value="SD">Sudan</mat-option>
							<mat-option value="SR">Suriname</mat-option>
							<mat-option value="SJ">Svalbard and Jan Mayen</mat-option>
							<mat-option value="SZ">Swaziland</mat-option>
							<mat-option value="SE">Sweden</mat-option>
							<mat-option value="CH">Switzerland</mat-option>
							<mat-option value="SY">Syrian Arab Republic</mat-option>
							<mat-option value="TW">Taiwan, Province of China</mat-option>
							<mat-option value="TJ">Tajikistan</mat-option>
							<mat-option value="TZ">Tanzania, United Republic of</mat-option>
							<mat-option value="TH">Thailand</mat-option>
							<mat-option value="TL">Timor-Leste</mat-option>
							<mat-option value="TG">Togo</mat-option>
							<mat-option value="TK">Tokelau</mat-option>
							<mat-option value="TO">Tonga</mat-option>
							<mat-option value="TT">Trinidad and Tobago</mat-option>
							<mat-option value="TN">Tunisia</mat-option>
							<mat-option value="TR">Turkey</mat-option>
							<mat-option value="TM">Turkmenistan</mat-option>
							<mat-option value="TC">Turks and Caicos Islands</mat-option>
							<mat-option value="TV">Tuvalu</mat-option>
							<mat-option value="UG">Uganda</mat-option>
							<mat-option value="UA">Ukraine</mat-option>
							<mat-option value="AE">United Arab Emirates</mat-option>
							<mat-option value="GB">United Kingdom</mat-option>
							<mat-option value="US">United States</mat-option>
							<mat-option value="UM">United States Minor Outlying Islands</mat-option>
							<mat-option value="UY">Uruguay</mat-option>
							<mat-option value="UZ">Uzbekistan</mat-option>
							<mat-option value="VU">Vanuatu</mat-option>
							<mat-option value="VE">Venezuela, Bolivarian Republic of</mat-option>
							<mat-option value="VN">Viet Nam</mat-option>
							<mat-option value="VG">Virgin Islands, British</mat-option>
							<mat-option value="VI">Virgin Islands, U.S.</mat-option>
							<mat-option value="WF">Wallis and Futuna</mat-option>
							<mat-option value="EH">Western Sahara</mat-option>
							<mat-option value="YE">Yemen</mat-option>
							<mat-option value="ZM">Zambia</mat-option>
							<mat-option value="ZW">Zimbabwe</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-lg-6">
					<mat-form-field>
						<mat-select placeholder="Country of Residence" name="countryResidence" formControlName="countryResidence">
							<mat-option value="">Select</mat-option>
							<mat-option value="AF">Afghanistan</mat-option>
							<mat-option value="AX">Åland Islands</mat-option>
							<mat-option value="AL">Albania</mat-option>
							<mat-option value="DZ">Algeria</mat-option>
							<mat-option value="AS">American Samoa</mat-option>
							<mat-option value="AD">Andorra</mat-option>
							<mat-option value="AO">Angola</mat-option>
							<mat-option value="AI">Anguilla</mat-option>
							<mat-option value="AQ">Antarctica</mat-option>
							<mat-option value="AG">Antigua and Barbuda</mat-option>
							<mat-option value="AR">Argentina</mat-option>
							<mat-option value="AM">Armenia</mat-option>
							<mat-option value="AW">Aruba</mat-option>
							<mat-option value="AU" selected>Australia</mat-option>
							<mat-option value="AT">Austria</mat-option>
							<mat-option value="AZ">Azerbaijan</mat-option>
							<mat-option value="BS">Bahamas</mat-option>
							<mat-option value="BH">Bahrain</mat-option>
							<mat-option value="BD">Bangladesh</mat-option>
							<mat-option value="BB">Barbados</mat-option>
							<mat-option value="BY">Belarus</mat-option>
							<mat-option value="BE">Belgium</mat-option>
							<mat-option value="BZ">Belize</mat-option>
							<mat-option value="BJ">Benin</mat-option>
							<mat-option value="BM">Bermuda</mat-option>
							<mat-option value="BT">Bhutan</mat-option>
							<mat-option value="BO">Bolivia, Plurinational State of</mat-option>
							<mat-option value="BQ">Bonaire, Sint Eustatius and Saba</mat-option>
							<mat-option value="BA">Bosnia and Herzegovina</mat-option>
							<mat-option value="BW">Botswana</mat-option>
							<mat-option value="BV">Bouvet Island</mat-option>
							<mat-option value="BR">Brazil</mat-option>
							<mat-option value="IO">British Indian Ocean Territory</mat-option>
							<mat-option value="BN">Brunei Darussalam</mat-option>
							<mat-option value="BG">Bulgaria</mat-option>
							<mat-option value="BF">Burkina Faso</mat-option>
							<mat-option value="BI">Burundi</mat-option>
							<mat-option value="KH">Cambodia</mat-option>
							<mat-option value="CM">Cameroon</mat-option>
							<mat-option value="CA">Canada</mat-option>
							<mat-option value="CV">Cape Verde</mat-option>
							<mat-option value="KY">Cayman Islands</mat-option>
							<mat-option value="CF">Central African Republic</mat-option>
							<mat-option value="TD">Chad</mat-option>
							<mat-option value="CL">Chile</mat-option>
							<mat-option value="CN">China</mat-option>
							<mat-option value="CX">Christmas Island</mat-option>
							<mat-option value="CC">Cocos (Keeling) Islands</mat-option>
							<mat-option value="CO">Colombia</mat-option>
							<mat-option value="KM">Comoros</mat-option>
							<mat-option value="CG">Congo</mat-option>
							<mat-option value="CD">Congo, the Democratic Republic of the</mat-option>
							<mat-option value="CK">Cook Islands</mat-option>
							<mat-option value="CR">Costa Rica</mat-option>
							<mat-option value="CI">Côte d'Ivoire</mat-option>
							<mat-option value="HR">Croatia</mat-option>
							<mat-option value="CU">Cuba</mat-option>
							<mat-option value="CW">Curaçao</mat-option>
							<mat-option value="CY">Cyprus</mat-option>
							<mat-option value="CZ">Czech Republic</mat-option>
							<mat-option value="DK">Denmark</mat-option>
							<mat-option value="DJ">Djibouti</mat-option>
							<mat-option value="DM">Dominica</mat-option>
							<mat-option value="DO">Dominican Republic</mat-option>
							<mat-option value="EC">Ecuador</mat-option>
							<mat-option value="EG">Egypt</mat-option>
							<mat-option value="SV">El Salvador</mat-option>
							<mat-option value="GQ">Equatorial Guinea</mat-option>
							<mat-option value="ER">Eritrea</mat-option>
							<mat-option value="EE">Estonia</mat-option>
							<mat-option value="ET">Ethiopia</mat-option>
							<mat-option value="FK">Falkland Islands (Malvinas)</mat-option>
							<mat-option value="FO">Faroe Islands</mat-option>
							<mat-option value="FJ">Fiji</mat-option>
							<mat-option value="FI">Finland</mat-option>
							<mat-option value="FR">France</mat-option>
							<mat-option value="GF">French Guiana</mat-option>
							<mat-option value="PF">French Polynesia</mat-option>
							<mat-option value="TF">French Southern Territories</mat-option>
							<mat-option value="GA">Gabon</mat-option>
							<mat-option value="GM">Gambia</mat-option>
							<mat-option value="GE">Georgia</mat-option>
							<mat-option value="DE">Germany</mat-option>
							<mat-option value="GH">Ghana</mat-option>
							<mat-option value="GI">Gibraltar</mat-option>
							<mat-option value="GR">Greece</mat-option>
							<mat-option value="GL">Greenland</mat-option>
							<mat-option value="GD">Grenada</mat-option>
							<mat-option value="GP">Guadeloupe</mat-option>
							<mat-option value="GU">Guam</mat-option>
							<mat-option value="GT">Guatemala</mat-option>
							<mat-option value="GG">Guernsey</mat-option>
							<mat-option value="GN">Guinea</mat-option>
							<mat-option value="GW">Guinea-Bissau</mat-option>
							<mat-option value="GY">Guyana</mat-option>
							<mat-option value="HT">Haiti</mat-option>
							<mat-option value="HM">Heard Island and McDonald Islands</mat-option>
							<mat-option value="VA">Holy See (Vatican City State)</mat-option>
							<mat-option value="HN">Honduras</mat-option>
							<mat-option value="HK">Hong Kong</mat-option>
							<mat-option value="HU">Hungary</mat-option>
							<mat-option value="IS">Iceland</mat-option>
							<mat-option value="IN">India</mat-option>
							<mat-option value="ID">Indonesia</mat-option>
							<mat-option value="IR">Iran, Islamic Republic of</mat-option>
							<mat-option value="IQ">Iraq</mat-option>
							<mat-option value="IE">Ireland</mat-option>
							<mat-option value="IM">Isle of Man</mat-option>
							<mat-option value="IL">Israel</mat-option>
							<mat-option value="IT">Italy</mat-option>
							<mat-option value="JM">Jamaica</mat-option>
							<mat-option value="JP">Japan</mat-option>
							<mat-option value="JE">Jersey</mat-option>
							<mat-option value="JO">Jordan</mat-option>
							<mat-option value="KZ">Kazakhstan</mat-option>
							<mat-option value="KE">Kenya</mat-option>
							<mat-option value="KI">Kiribati</mat-option>
							<mat-option value="KP">Korea, Democratic People's Republic of</mat-option>
							<mat-option value="KR">Korea, Republic of</mat-option>
							<mat-option value="KW">Kuwait</mat-option>
							<mat-option value="KG">Kyrgyzstan</mat-option>
							<mat-option value="LA">Lao People's Democratic Republic</mat-option>
							<mat-option value="LV">Latvia</mat-option>
							<mat-option value="LB">Lebanon</mat-option>
							<mat-option value="LS">Lesotho</mat-option>
							<mat-option value="LR">Liberia</mat-option>
							<mat-option value="LY">Libya</mat-option>
							<mat-option value="LI">Liechtenstein</mat-option>
							<mat-option value="LT">Lithuania</mat-option>
							<mat-option value="LU">Luxembourg</mat-option>
							<mat-option value="MO">Macao</mat-option>
							<mat-option value="MK">Macedonia, the former Yugoslav Republic of</mat-option>
							<mat-option value="MG">Madagascar</mat-option>
							<mat-option value="MW">Malawi</mat-option>
							<mat-option value="MY">Malaysia</mat-option>
							<mat-option value="MV">Maldives</mat-option>
							<mat-option value="ML">Mali</mat-option>
							<mat-option value="MT">Malta</mat-option>
							<mat-option value="MH">Marshall Islands</mat-option>
							<mat-option value="MQ">Martinique</mat-option>
							<mat-option value="MR">Mauritania</mat-option>
							<mat-option value="MU">Mauritius</mat-option>
							<mat-option value="YT">Mayotte</mat-option>
							<mat-option value="MX">Mexico</mat-option>
							<mat-option value="FM">Micronesia, Federated States of</mat-option>
							<mat-option value="MD">Moldova, Republic of</mat-option>
							<mat-option value="MC">Monaco</mat-option>
							<mat-option value="MN">Mongolia</mat-option>
							<mat-option value="ME">Montenegro</mat-option>
							<mat-option value="MS">Montserrat</mat-option>
							<mat-option value="MA">Morocco</mat-option>
							<mat-option value="MZ">Mozambique</mat-option>
							<mat-option value="MM">Myanmar</mat-option>
							<mat-option value="NA">Namibia</mat-option>
							<mat-option value="NR">Nauru</mat-option>
							<mat-option value="NP">Nepal</mat-option>
							<mat-option value="NL">Netherlands</mat-option>
							<mat-option value="NC">New Caledonia</mat-option>
							<mat-option value="NZ">New Zealand</mat-option>
							<mat-option value="NI">Nicaragua</mat-option>
							<mat-option value="NE">Niger</mat-option>
							<mat-option value="NG">Nigeria</mat-option>
							<mat-option value="NU">Niue</mat-option>
							<mat-option value="NF">Norfolk Island</mat-option>
							<mat-option value="MP">Northern Mariana Islands</mat-option>
							<mat-option value="NO">Norway</mat-option>
							<mat-option value="OM">Oman</mat-option>
							<mat-option value="PK">Pakistan</mat-option>
							<mat-option value="PW">Palau</mat-option>
							<mat-option value="PS">Palestinian Territory, Occupied</mat-option>
							<mat-option value="PA">Panama</mat-option>
							<mat-option value="PG">Papua New Guinea</mat-option>
							<mat-option value="PY">Paraguay</mat-option>
							<mat-option value="PE">Peru</mat-option>
							<mat-option value="PH">Philippines</mat-option>
							<mat-option value="PN">Pitcairn</mat-option>
							<mat-option value="PL">Poland</mat-option>
							<mat-option value="PT">Portugal</mat-option>
							<mat-option value="PR">Puerto Rico</mat-option>
							<mat-option value="QA">Qatar</mat-option>
							<mat-option value="RE">Réunion</mat-option>
							<mat-option value="RO">Romania</mat-option>
							<mat-option value="RU">Russian Federation</mat-option>
							<mat-option value="RW">Rwanda</mat-option>
							<mat-option value="BL">Saint Barthélemy</mat-option>
							<mat-option value="SH">Saint Helena, Ascension and Tristan da Cunha</mat-option>
							<mat-option value="KN">Saint Kitts and Nevis</mat-option>
							<mat-option value="LC">Saint Lucia</mat-option>
							<mat-option value="MF">Saint Martin (French part)</mat-option>
							<mat-option value="PM">Saint Pierre and Miquelon</mat-option>
							<mat-option value="VC">Saint Vincent and the Grenadines</mat-option>
							<mat-option value="WS">Samoa</mat-option>
							<mat-option value="SM">San Marino</mat-option>
							<mat-option value="ST">Sao Tome and Principe</mat-option>
							<mat-option value="SA">Saudi Arabia</mat-option>
							<mat-option value="SN">Senegal</mat-option>
							<mat-option value="RS">Serbia</mat-option>
							<mat-option value="SC">Seychelles</mat-option>
							<mat-option value="SL">Sierra Leone</mat-option>
							<mat-option value="SG">Singapore</mat-option>
							<mat-option value="SX">Sint Maarten (Dutch part)</mat-option>
							<mat-option value="SK">Slovakia</mat-option>
							<mat-option value="SI">Slovenia</mat-option>
							<mat-option value="SB">Solomon Islands</mat-option>
							<mat-option value="SO">Somalia</mat-option>
							<mat-option value="ZA">South Africa</mat-option>
							<mat-option value="GS">South Georgia and the South Sandwich Islands</mat-option>
							<mat-option value="SS">South Sudan</mat-option>
							<mat-option value="ES">Spain</mat-option>
							<mat-option value="LK">Sri Lanka</mat-option>
							<mat-option value="SD">Sudan</mat-option>
							<mat-option value="SR">Suriname</mat-option>
							<mat-option value="SJ">Svalbard and Jan Mayen</mat-option>
							<mat-option value="SZ">Swaziland</mat-option>
							<mat-option value="SE">Sweden</mat-option>
							<mat-option value="CH">Switzerland</mat-option>
							<mat-option value="SY">Syrian Arab Republic</mat-option>
							<mat-option value="TW">Taiwan, Province of China</mat-option>
							<mat-option value="TJ">Tajikistan</mat-option>
							<mat-option value="TZ">Tanzania, United Republic of</mat-option>
							<mat-option value="TH">Thailand</mat-option>
							<mat-option value="TL">Timor-Leste</mat-option>
							<mat-option value="TG">Togo</mat-option>
							<mat-option value="TK">Tokelau</mat-option>
							<mat-option value="TO">Tonga</mat-option>
							<mat-option value="TT">Trinidad and Tobago</mat-option>
							<mat-option value="TN">Tunisia</mat-option>
							<mat-option value="TR">Turkey</mat-option>
							<mat-option value="TM">Turkmenistan</mat-option>
							<mat-option value="TC">Turks and Caicos Islands</mat-option>
							<mat-option value="TV">Tuvalu</mat-option>
							<mat-option value="UG">Uganda</mat-option>
							<mat-option value="UA">Ukraine</mat-option>
							<mat-option value="AE">United Arab Emirates</mat-option>
							<mat-option value="GB">United Kingdom</mat-option>
							<mat-option value="US">United States</mat-option>
							<mat-option value="UM">United States Minor Outlying Islands</mat-option>
							<mat-option value="UY">Uruguay</mat-option>
							<mat-option value="UZ">Uzbekistan</mat-option>
							<mat-option value="VU">Vanuatu</mat-option>
							<mat-option value="VE">Venezuela, Bolivarian Republic of</mat-option>
							<mat-option value="VN">Viet Nam</mat-option>
							<mat-option value="VG">Virgin Islands, British</mat-option>
							<mat-option value="VI">Virgin Islands, U.S.</mat-option>
							<mat-option value="WF">Wallis and Futuna</mat-option>
							<mat-option value="EH">Western Sahara</mat-option>
							<mat-option value="YE">Yemen</mat-option>
							<mat-option value="ZM">Zambia</mat-option>
							<mat-option value="ZW">Zimbabwe</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row" *ngIf="stepFlag == 1">
				<div class="col-lg-12">
						<mat-form-field>
							<mat-select placeholder="Employment Status" name="employmentStatus" formControlName="employmentStatus" (selectionChange)="onEmploymentChange($event)" [(value)]="selectedEmployment">
								<mat-option value="">Select</mat-option>
								<mat-option value="Employed">Employed</mat-option>
								<mat-option value="Self-employed">Self-employed</mat-option>
								<mat-option value="Retired">Retired</mat-option>
								<mat-option value="Other">Other</mat-option>
							</mat-select>
						</mat-form-field>
				</div>
			</div>
					<div class="form-group row"*ngIf="stepFlag == 1 && selectedEmployment == 'Employed'">
						<div class="col-lg-12">
									<mat-form-field>
										<mat-label>Name of Employer</mat-label>
										<input matInput type="text" placeholder=""name="nameEmployer" formControlName="nameEmployer" />
									</mat-form-field>
								</div>
								</div>
								<div class="form-group row"*ngIf="stepFlag == 1  && selectedEmployment == 'Self-employed'">
									<div class="col-lg-12">
									<mat-form-field>
										<mat-label>Name of Company</mat-label>
										<input matInput type="text" placeholder=""name="nameCompanyEm" formControlName="nameCompanyEm" />
									</mat-form-field>
								</div>
								</div>
								<div class="form-group row"*ngIf="stepFlag == 1">
									<div class="col-lg-12">
									<mat-form-field>
										<mat-select placeholder="Investment Knowledge" name="investmentKnowledge" formControlName="investmentKnowledge">
											<mat-option value="">Select</mat-option>
											<mat-option value="Advanced">Advanced</mat-option>
											<mat-option value="Intermediate">Intermediate</mat-option>
											<mat-option value="Beginner">Beginner</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								</div>
								<div class="form-group row"*ngIf="stepFlag == 1">
									<div class="col-lg-12">
									<mat-form-field>
										<mat-select placeholder="Net Worth" name="netWorth" formControlName="netWorth">
											<mat-option value="">Select</mat-option>
											<mat-option value="£25,000 - £50,000">£25,000 - £50,000</mat-option>
											<mat-option value="£50,000 - £100,000">£50,000 - £100,000</mat-option>
											<mat-option value="£100,000 - £250,000">£100,000 - £250,000</mat-option>
											<mat-option value="£250,000 - £500,000">£250,000 - £500,000</mat-option>
											<mat-option value="£500,000 - £1,000,000">£500,000 - £1,000,000</mat-option>
											<mat-option value="£1,000,000 - £5,000,000">£1,000,000 - £5,000,000</mat-option>
											<mat-option value="£5,000,000 +">£5,000,000 +</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								</div>

			<!-- <div class="form-group row"*ngIf="stepFlag == 2">
				<div class="col-lg-12">
					<mat-form-field>
						<mat-label> Name of Bank </mat-label>
						<input matInput type="text" placeholder="Name of Bank" name="addField1" formControlName="addFieldControl1"/>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group row"*ngIf="stepFlag == 2">
				<div class="col-lg-6">
					<mat-form-field>
						<mat-label> Sort Code </mat-label>
						<input matInput type="number" placeholder="Sort Code" pattern="[0-9]*"name="addField2"formControlName="addFieldControl2" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
					</mat-form-field>
				</div>
				<div class="col-lg-6"*ngIf="stepFlag == 2">
					<mat-form-field>
						<mat-label> Account Number / IBAN </mat-label>
						<input matInput type="text" placeholder="Account Number / IBAN"name="addField3" formControlName="addFieldControl3" />
					</mat-form-field>
				</div>
			</div> -->
			<div class="form-group row"*ngIf="stepFlag == 2">
				<div class="col-lg-12">
					<div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_21" style="background: transparent!important;">
						<div class="dropzone-msg dz-message needsclick">
							<h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
							<span class="dropzone-msg-desc">Upload up to 10 files</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row"*ngIf="stepFlag == 2">
				<div class="col-lg-12">
					<mat-checkbox name="agree" formControlName="agree">
						I agree the <a href="javascript:;">terms & conditions</a>
					</mat-checkbox>
				</div>
			</div>
			<div class="kt-login__actions">
				<a href="javascript:;" routerLink="/auth/login" class="kt-link kt-login__link-forgot">
					Go to login page
				</a>
				<button *ngIf="stepFlag > 0" (click)="stepBtn(-1)" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary btn-newly">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button *ngIf="stepFlag < 2" (click)="stepBtn(1)"class="btn btn-secondary btn-elevate kt-login__btn-secondary btn-newly">Next</button>
				<button *ngIf="stepFlag == 2" (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
		</form>
	</div>
</div>
