<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="ReqcustomerForm">
		<div class="kt-portlet__body">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Select your Type" formControlName="newType" (selectionChange) = "onChangeType($event)">
							<mat-option value="">Select Type</mat-option>
							<mat-option value="Bond">Bond</mat-option>
							<mat-option value="Gilt">Gilt</mat-option>
							<mat-option value="Fund">Fund</mat-option>
						</mat-select>
						<mat-error>
							Type
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Type</strong>
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="Select your Topic" formControlName="newTopic">
							<mat-option value="">Select your Topic</mat-option>
							<!-- <mat-option value="Bond">Bond</mat-option> -->
							<mat-option [value]="subResult._id" *ngFor='let subResult of productResultTemp'>{{subResult.topic}}</mat-option>
						</mat-select>
						<mat-error>
							Topic
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Topic</strong>
						</mat-hint>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput  type="number" placeholder="Enter Equity" formControlName="newEquity">
						<mat-error>
							Equity is
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Equity</strong>
						</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-separator kt-separator--dashed"></div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput type='date' placeholder="Input Date" formControlName="newDate">
						<mat-error>
							Date is
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Date</strong>
						</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-separator kt-separator--dashed"></div>
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
							Cancel
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
