.openViewClass1{
    background-color: rgba(0,0,0,0.95);
}
.swal2-popup .swal2-title {
    color: #212529!important; 
}
.kt-widget12__desc{
	font-size: 1rem;
    color: white;
    padding-bottom: .5rem;
    font-weight: 500;
    display: block;
}
.kt-widget12__value{
	font-size: 1.4rem;
    font-weight: 600;
    color: white;
    display: block;
}