<div class="kt-widget1" *ngIf="requestResult.length > 0">
	<ng-container *ngFor="let item of requestResult">
		<ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
	</ng-container>
</div>
<div class="kt-widget1" *ngIf="requestResult.length == 0">
	<div class="kt-widget1__item">
		<div class="kt-widget1__info">
			<h3 class="kt-widget1__title">None</h3>
		</div>
	</div>
</div>
<ng-template #itemTemplate let-item="item">
	<div class="kt-widget1__item">
		<div class="kt-widget1__info">
			<h3 class="kt-widget1__title">{{item.ISIN}}</h3>
			<span class="kt-widget1__desc">{{item.topic}}</span>
		</div>
		<!-- <button class="kt-widget1__number" [ngClass]="item.valueClass" class="btn btn-primary btn-elevate kt-login__btn-primary">{{item.value}}</button> -->
		<div>
			<button class="btn btn-primary btn-elevate kt-login__btn-primary" (click)="openViewDialog(item)" style="    margin-right: 9px;">View {{flag}}</button>
			<button class="btn btn-primary btn-elevate kt-login__btn-primary" (click)="openDialog()">Enquire</button>
		</div>
	</div>

</ng-template>
